<footer class="footer">
  <small>
    <%= t ".message" %>
    <%= link_to t(".framgia"), "http://www.recruit.framgia.vn/" %>
  </small>
  <ul>
    <li><%= link_to t(".faq"), faq_path %></li>
  </ul>
</footer>
